@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#popup {
    position: fixed;
    margin: 0;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    transform: translate(-50%, -50%);
    background-color: #1E2431;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
    display: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }

.popup-content-close{
    width: 100%;
    height: 4%;
}

#button-close{
    height: 100%;
    float: right;
    text-align: center;
}

.popup-content-body{
    font-size: large;
    text-align: center;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: auto;
    justify-content: center;
    margin: auto;
    height: 96%;
}

.popup-content-body img{
    width: 15%;
    height: auto;
    margin: 2%;
}

.popup-content-left-arrow-div{
    float: left;
    display: flex;
    height: 100%;
    align-items: flex-end;
}

#left-arrow-button{
    width: 100%;
}

.popup-content-right-arrow-div{
    float: right;
    display: flex;
    height: 100%;
    align-items: flex-end;
}

#right-arrow-button{
    width: 100%;
}

.popup-content-center{
    height: 100%;
    margin: auto;
}

.popup-content-header{
    text-align: center;
    height: 10%;
}

@media only screen and (min-height: 100px) {
    .popup-content-header  {
      font-size: medium;
    }
    .popup-content-body  {
        font-size: x-small;
    }
    .tutorial-button{
        font-size: x-small;
    }
  }
  @media only screen and (min-height: 400px) {
    .popup-content-header  {
      font-size: large;
    }
    .popup-content-body  {
        font-size: small;
    }
    .tutorial-button{
        font-size: small;
    }
  }
  @media only screen and (min-height: 600px) {
    .popup-content-header  {
      font-size: x-large;
    }
    .popup-content-body  {
        font-size: medium;
    }
    .tutorial-button{
        font-size: medium;
    }
  }
@media only screen and (min-height: 800px) {
    .popup-content-header {
        font-size: xx-large;
    }
    .popup-content-body  {
        font-size: large;
    }
    .tutorial-button{
        font-size: large;
    }
  }